.randomPlanet {
  display: flex;
  padding: 1rem;
  border: 1px solid #444;
  margin-bottom: 1rem;
}

.randomPlanet .planetImage {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-right: 1rem;
}

.random-Planet .list-group {
  margin: 1rem 0 0 1rem;
}

.randomPlanet .list-group-item {
  padding: .25rem;
}

.randomPlanet .list-group-item .term {
  margin-right: .5rem;
}